*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* .Box-container{
    margin: 15%;

}

.Row-container{
  display: flex;
    align-items: center;
    justify-content: space-evenly;

}
 */
body {
  display: flex;
    justify-content: center;
    align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  /* 3 columns of 100px each */
  /* Gap between cells */
  background-color: #fff;
  border: 2px solid #000;
}



.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid #000;
  cursor: pointer;
}

.square:hover {
  background-color: #f0f0f0;
  /* Hover background color */
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;


}

.btn{
  width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;


}

.btn:hover{
  cursor: pointer
  ;
  background-color:lightgray;
}